*~
*.o
*.lo
*.la
.libs
.deps
core.*
Makefile
Makefile.in
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
bindings/interfaces/SWIGTYPE_p_float.cs
bindings/interfaces/SWIGTYPE_p_float.java
bindings/interfaces/SWIGTYPE_p_gchar.cs
bindings/interfaces/SWIGTYPE_p_gchar.java
bindings/interfaces/SWIGTYPE_p_rlib_part.cs
bindings/interfaces/SWIGTYPE_p_rlib_part.java
bindings/interfaces/SWIGTYPE_p_rlib_report.cs
bindings/interfaces/SWIGTYPE_p_rlib_report.java
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
py-compile
depcomp
doc/book.pdf
install-sh
libsrc/SWIGTYPE_p_f_p_rlib_p_void__int.cs
libsrc/SWIGTYPE_p_f_p_rlib_p_void__int.java
libsrc/SWIGTYPE_p_float.cs
libsrc/SWIGTYPE_p_float.java
libsrc/SWIGTYPE_p_gchar.cs
libsrc/SWIGTYPE_p_gchar.java
libsrc/SWIGTYPE_p_rlib.cs
libsrc/SWIGTYPE_p_rlib.java
libsrc/SWIGTYPE_p_rlib_part.cs
libsrc/SWIGTYPE_p_rlib_part.java
libsrc/SWIGTYPE_p_rlib_report.cs
libsrc/SWIGTYPE_p_rlib_report.java
libsrc/SWIGTYPE_p_void.cs
libsrc/SWIGTYPE_p_void.java
libsrc/foo
libsrc/rlib.cs
libsrc/rlib.java
libsrc/rlib.pm
libsrc/rlib.py
libsrc/rlibJNI.java
libsrc/rlibPINVOKE.cs
libsrc/rlib_wrap.c
libtool
ltmain.sh
ltmain.sh.bak
m4/*
missing
rlib.pc
rlib.spec
rpdf/test
src/examples/c/example
src/examples/c/products.xml
src/examples/perl/products.xml
src/examples/php/products.xml
src/examples/python/array.xml
src/examples/python/data.xml
src/examples/python/fixed_part.xml
src/examples/python/follower.xml
src/examples/python/graph.xml
src/examples/python/products.xml
src/rlibc
stamp-h1
tests/test1
tests/test2
tests/test3
