*~
*.o
*.la
*.lo
.libs
.deps
INSTALL
ar-lib
compile
py-compile
*Makefile
*Makefile.in
acinclude.m4
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
doc/book.pdf
install-sh
libtool
ltmain.sh
ltmain.sh.bak
missing
mkinstalldirs
rlib.pc
rlib.spec
rpdf/test
rpdf/test.exe

# Symlinks from inputs/*
libsrc/mysql_data_source.c
libsrc/odbc_data_source.c
libsrc/postgres_data_source.c

src/examples/c/example_mysql
src/examples/c/example_mysql.exe
src/examples/c/example_pg
src/examples/c/example_pg.exe
src/examples/c/example_odbc
src/examples/c/example_odbc.exe
src/examples/c/products.xml
src/examples/c/relprt
src/examples/c/relprt.exe
src/examples/c/relpth1
src/examples/c/relpth1-gen
src/examples/c/relpth1.exe
src/examples/c/relpth1-gen.exe
src/examples/c/relpth2
src/examples/c/relpth2.exe
src/examples/c/srcpth
src/examples/c/srcpth.exe
src/examples/c/breaks
src/examples/c/breaks.exe
src/examples/c/breaks.xml
src/examples/c/breaks.html
src/examples/c/breaks2
src/examples/c/breaks2.exe
src/examples/c/breaks2.html
src/examples/c/breaks2.xml
src/examples/c/graph
src/examples/c/graph.exe
src/examples/c/graph.xml
src/examples/c/follower
src/examples/c/follower.exe
src/examples/c/follower2
src/examples/c/follower2.exe
src/examples/c/follower_n_to_1
src/examples/c/follower_n_to_1.exe
src/examples/c/follower_n_to_1_2
src/examples/c/follower_n_to_1_2.exe
src/examples/c/follower_n_to_1_full_cartesian
src/examples/c/follower_n_to_1_full_cartesian.exe
src/examples/c/follower_n_to_1_full_cartesian2
src/examples/c/follower_n_to_1_full_cartesian2.exe
src/examples/c/follower_n_to_1_full_cartesian3
src/examples/c/follower_n_to_1_full_cartesian3.exe
src/examples/c/follower_n_to_1_vectormatch
src/examples/c/follower_n_to_1_vectormatch.exe
src/examples/c/follower_1_to_1_then_n_to_1
src/examples/c/follower_1_to_1_then_n_to_1.exe
src/examples/c/follower_n_to_1_then_1_to_1
src/examples/c/follower_n_to_1_then_1_to_1.exe
src/examples/c/follower_circular
src/examples/c/follower_circular.exe
src/examples/c/follower-breaks
src/examples/c/follower-breaks.exe
src/examples/c/follower.xml
src/examples/c/follower-breaks.xml
src/examples/c/hyperinflation
src/examples/c/hyperinflation.exe
src/examples/c/hyperinflation.xml
src/examples/c/formatstring
src/examples/c/formatstring.exe
src/examples/c/formatstring.xml
src/examples/csharp/products.xml
src/examples/java/*.java
src/examples/java/*.xml
src/examples/perl/products.xml
src/examples/php/*.xml
src/examples/python/*.xml
src/rlibc
src/rlibc.exe
src/rlib-parse
src/rlib-parse.exe
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/test1
tests/test1.exe
tests/test2
tests/test2.exe
tests/test3
tests/test3.exe

src/examples/java/*.class
src/examples/java/*.stamp

inputs/odbc/libr-odbc.def
inputs/postgres/libr-postgres.def

*.pdf

bindings/php/build
bindings/php/modules
bindings/php/Makefile*
bindings/php/config.nice
bindings/php/configure.in
bindings/php/run-tests.php
